@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto';
  height: 100%;
  width: 100%;
  padding-top: 2em;
}

#key {
  border-radius: 5px;
  height: 27px;
}
